<h2>Two way data bindings with ng-model</h2>
<pre>
    <code>
        <div ng-controller="appController">
            <!-- this is a READ/WRITE, or two-way binding-->
            <input type="text" ng-model="someTextValue" />

            <select ng-model="someEnumValue" ng-options="item as item.label in someEnumArray"></select>

            <div ng-controller="someOtherController">
                <p>{{someTextValue}}</p> <!-- I'm tied to the parent $scope, so any changes will propagate upward -->
            </div>

            <div ng-controller="stillAnotherController">
                <p>{{someEnumValue}}</p><!-- me too -->
            </div>
        </div>
    </code>
</pre>
